<h1 class="company_tittle">Editing company</h1>

<%= render "form", company: @company %>

<br>

<div class='company_tittle'>
  <%= link_to "Show this company", @company %> |
  <%= link_to "Back to companies", companies_path %>
</div>
