<p style="color: green"><%= notice %></p>

<h1 class='company-title'>Companies</h1>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
      <%= link_to "Show this company", company %>
    </p>
  <% end %>
</div>

<div id='new_company'> 
  <%= link_to "New company", new_company_path, class: 'btn btn-outline-success' %>
</div>
