<%= turbo_stream.update("promo-list") do %>
  <%= render 'promos/filtered_table', promos: @promos %>
<% end %>

<% unless @filter_option_id.present? %>
  <%= turbo_stream.update("promo-filter") do %>
    <% if @selected_company.filter_options.present? %>
      <span class='name-tag'>Select Filter :- </span><%= select_tag "promo", options_from_collection_for_select(@filter_option, "id", "name", selected: @filter_option.pluck(:id)), multiple: true,  class: "form-control" %>
    <% end %>
  <% end %>
<% end %>