<%= turbo_stream.update("promo-list") do %>
  <%= render 'promos/filtered_table', promos: @promos %>
<% end %>

<%= turbo_stream.update("promo-filter") do %>
  <span class='name-tag'>Select Filter :- </span><%= select_tag "promo", options_from_collection_for_select(@filter_option, "id", "name")%>
<% end %>