<h1 class='company-title'>Promos</h1>

<div id='new_company'>
  <%= link_to "New promo", new_promo_path, class: 'btn btn-outline-success'  %>
</div>

<div class= 'select'>
  <span class='name-tag'>Select company :- </span><%= collection_select :promo, :company_id, @option, :id, :name, selected: @option.first %>
</div>

<%= render 'promos/filtered_table', promos: @promos %>
