<h1 class='company-title'>Promos</h1>

<div id='new_company'>
  <%= link_to "New promo", new_promo_path, class: 'btn btn-outline-success'  %>
</div>

<div id="promos">
  <% @promos.each do |promo| %>
    <%= render promo %>
    <p>
      <%= link_to "Show this promo", promo %>
    </p>
  <% end %>
</div>

