<h1 class='company-title'>Promos</h1>

<div class='add_button'>
  <%= link_to "New promo", new_promo_path, class: 'btn btn-outline-success' %>
</div>

<div class= 'select'>
  <span class='name-tag'>Select company :- </span><%= collection_select :promo, :company_id, @companies, :id, :name, selected: @selected_companies %>
</div>

<div id = 'promo-filter' class= 'select'>
  <span class='name-tag'>Select Filter :- </span><%= collection_select :promo, :filter_option_ids, @filter_option, :id, :name %>
</div>

<%= render 'promos/filtered_table', promos: @promos %>
