/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap";

 /* // Add Font Brand Name  */

  .navbar {
    display: flex;
    align-items: center;
    height: 50px;
  }

 .link-name {
    display: block;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: white;
    font-family: fantasy;
    padding-right: 45px;
    font-size: 18px;
  }

  .navbar-div {
    padding-bottom: 50px;
  }

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/ 

  .table-connection {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529; 
  }

  .table-connection th,
  .table-connection td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6; 
  }

  .table thead th {
    vertical-align: bottom;
  }

  .table-connection tbody + tbody {
    border-top: 2px solid #dee2e6; 
  }

  .table-connection {
    min-width: 1000px !important;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    text-align: center; 
  }

  .table-connection thead.thead-primary {
    background: #6807f9; 
  }

  .table-connection thead th {
    border: none;
    padding: 30px;
    font-size: 14px;
    color: #fff; 
  }

  .table-connection tbody tr {
    margin-bottom: 10px; 
  }

  .table-connection tbody th, .table-connection tbody td {
    border: none;
    padding: 30px;
    font-size: 14px;
    background: #fff;
    vertical-align: middle;
    border-bottom: 2px solid #e3e4e7; 
  }

  .table-connection tbody th.scope {
    background: #e8ebf8;
    border-bottom: 2px solid #e3e4e7; 
  }

  @media (min-width: 768px) {
  .table-connection tbody td:nth-child(odd) {
    background: #f4f6fc;
  } 
  }

  .dropdown {
    padding-top: 20px;
  }

  .select {
    padding-left: 130px;
    padding-bottom: 20px;
    font-family: Optima;
  }

  .company-dropdwon {
    padding: 5px;
    padding-right: 2px;
  }

  .name-tag {
    font-size: 20PX;
  }

/*--------------------------------------------------------------
# Company form
--------------------------------------------------------------*/ 

  .company-title {
    text-align: center;
    font-family: Optima;
  }
 
 .add_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
 }

 .form-control {
  display: block;
  width: 23%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.company_tittle {
  font-family: Optima;
}

.back-button {
  padding-bottom: 20px;
}

.available {
  padding-left: 115px;
  font-family: Optima;
}

.welcome {
  font-family: Optima;
  text-align: center;
  font-size: 50px;
}